build/
samples/
imgui.ini
.vscode/settings.json

# MacOS clutter
.DS_Store

# CMake clutter
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
cmake_install.cmake
cmake_uninstall.cmake